<header class="header-Base">

  <nav class="header-Nav clearfix" role="navigation">
  
    <a href="#!" title="show small screen nav" class="small-Nav">
      <img src="/img/nav-Icon.png" alt="navigation icon" />
    </a>
    
    <ul class="h-Nav constant-Nav">
      <li>
        <a href="/browse" title="Browse Neocities member websites">Websites</a>
      </li>
      <li>
        <a href="/tutorials" title="Learn to code with these tutorials">Tutorials</a>
      </li>
      <li>
        <a href="/api" title="Neocities Developers API">API</a>
      </li>
      <li>
        <a href="/about" title="About Neocities">About</a>
      </li>
      <li>
        <a href="/plan" title="Support Neocities">Support Us</a>
      </li>
    </ul>
    
    <ul class="status-Nav">
      <% if !signed_in? %>
        <li>
          <a href="/new" class="create-New" title="Create a new website">New Site</a>
        </li>
        <li>
          <a href="/signin" class="sign-In" title="Sign into your account">Sign In</a>
        </li>
      <% else %>
        <li class="dropdown">
          <a href="#" data-toggle="dropdown" class="dropdown-toggle"><%= current_site.username %> <span class="info"><span class="notification-value">3</span><i class="fa fa-caret-down"></i></span></a>
          <ul class="dropdown-menu">
            <li><a href="/site/<%= current_site.username %>">Profile</a></li>
            <li><a href="/?activity=mine">Activity <span class="notification-value">3</span></a></li>
            <li class="divider"></li>
            <li><a href="/dashboard">Edit Site</a></li>
            <li><a href="//<%= current_site.host %>" target="_blank">View Site</a></li>
            <li class="divider"></li>
            <li><a href="/settings">Settings</a></li>

            <% if current_site.other_sites_dataset.count > 0 %>
              <li class="dropdown-submenu pull-left">
                <a tabindex="-1" href="#" onclick="return false">Switch Site</a>
                <ul class="dropdown-menu">
                  <% current_site.other_sites_dataset.select(:username).all.each do |site| %>
                    <li>
                      <a href="/signin/<%= site.username %>"><%= site.username %></a>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>

            <li><a href="/signout">Sign Out</a></li>
          </ul>
        </li>

      <% end %>
      </ul>
  </nav>

  <h1 class="logo int-Logo">
    <a href="/" title="back to home">
      <span class="hidden">Neocities.org</span>
      <img src="/img/cat.png" alt="Neocities.org" />
    </a>
  </h1>
</header>