<% actioning_site = profile_comment.actioning_site_dataset.select(:id, :username, :stripe_customer_id, :plan_type, :parent_site_id).first %>
<% site = profile_comment.site_dataset.select(:id, :username, :stripe_customer_id, :plan_type, :parent_site_id).first %>

<div class="title">
  <div class="icon"><a href="/site/<%= actioning_site.username %>" class="avatar" style="background-image:url(<%= actioning_site.screenshot_url('index.html', '50x50') %>);"></a></div>

  <div class="text">
    <% if current_site && current_site.id == actioning_site.id %>
      <a href="/site/<%= current_site.username %>" class="you">You</a>
    <% else %>
      <a href="/site/<%= actioning_site.username %>" class="user"><i class="fa fa-user"><% if actioning_site.supporter? %><i class="fa fa-heart"></i><% end %></i><%= actioning_site.username %></a>
    <% end %>

    <% if actioning_site.id != profile_comment.site_id %>
      <i class="fa fa-chevron-right comment-symbol" title="commented on"></i>
      <a href="/site/<%= profile_comment.site.username %>" class="user"><i class="fa fa-user"><% if profile_comment.site.supporter? %><i class="fa fa-heart"></i><% end %></i><%= profile_comment.site.username %></a>
    <% end %>
  </div>

  <span class="date">
    <a href="/site/<%= site.username %>?event_id=<%= profile_comment.event.id %>"><%= profile_comment.created_at.ago %></a>
  </span>
</div>
<div class="content">
  <div style="margin-bottom: 10px"><%== sanitize_comment profile_comment.message %></div>
</div>
