<script src="/assets/scripts/news/template.js"></script>
<script src="/assets/scripts/news/like.js"></script>
<script src="/assets/scripts/news/comment.js"></script>
<script src="/assets/scripts/news/profile_comment.js"></script>
<script src="/assets/scripts/news/event.js"></script>
<script src="/assets/scripts/news/site.js"></script>

<% events.each do |event| %>
  <% if event.profile_comment_id %>
    <div class="news-item comment for-me" id="event_<%= event.id %>">
      <%== erb :'_news_profile_comment', layout: false, locals: {profile_comment: event.profile_comment} %>
  <% elsif event.follow_id %>
    <div class="news-item follow">
      <div class="title">
      <div class="icon"></div>
      <% actioning_site_username = event.actioning_site_dataset.select(:username).first.username %>
      <% event_site_username = event.site_dataset.select(:username).first.username %>
      <a href="/site/<%= actioning_site_username %>" class="user"><%= actioning_site_username %></a> followed <a href="/site/<%= event_site_username %>" class="user"><%= event_site_username %>'s</a> website<span class="date"><%= event.created_at.ago %></span>
      </div>
  <% elsif event.site_change_id %>
    <div class="news-item update">
      <div class="title">
        <div class="icon"></div>
        <% event_site_username = event.site_dataset.select(:username).first.username %>
        <a href="http://<%= event_site_username %>.neocities.org" class="user"><%= event_site_username %>.neocities.org</a> has been updated. <span class="date"><%= event.created_at.ago %></span>
      </div>
      <% site_change_filenames = event.site_change.site_change_filenames %>
      <% unless site_change_filenames.empty? %>
        <div class="content">
          <div class="files">
            <% event.site_change.site_change_filenames.each do |f| %>
              <div class="file">
                <div class="html-thumbnail <%= site_change_file_display_class f %>">
                  <a href="http://<%= site.username %>.neocities.org/<%= f %>">
                    <% if site_change_file_display_class(f) == 'html' %>
                      <img src="<%= site.screenshot_url(f, '90x63') %>">
                    <% elsif site_change_file_display_class(f) == 'image' %>
                      <img src="<%= site.thumbnail_url(f, '90x63') %>">
                    <% elsif site_change_file_display_class(f) == 'misc' %>
                      <span class="misc-icon">
                        <%= File.extname(f).sub('.', '') %>
                      </span>
                    <% end %>
                    <span class="title"><%= f %></span>
                  </a>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
  <% end %>

  <%== erb :'_news_actions', layout: false, locals: {event: event} %>

  <% if event.comments_dataset.count > 0 %>
    <div class="content">
      <div class="comments">
        <% event.comments.each do |comment| %>
          <% comment_actioning_site = comment.actioning_site_dataset.select(:username).first %>
          <div class="comment" id="comment_<%= comment.id %>">
            <img class="avatar" src="<%= comment_actioning_site.screenshot_url('index.html', '82x62') %>">
            <a href="/site/<%= comment_actioning_site.username %>" class="user"><%= comment_actioning_site.username %></a>
            <span class="date"><%= comment.created_at.ago %></span>
            <p><%= comment.message %></p>
          </div>
          <div class="actions">
            <% comment_likes_count = comment.comment_likes_dataset.count %>
            <% if current_site %>
              <a href="#" class="comment_like" id="comment_<%= comment.id %>_like" data-placement="bottom" data-toggle="tooltip" data-original-title="<%= comment.liking_site_names.join('<br>') %>" onclick="Comment.toggleLike(<%= comment.id %>, '<%= csrf_token %>'); return false"><%= comment.site_likes?(current_site) ? 'Unlike' : 'Like' %><%= comment_likes_count > 0 ? " (#{comment_likes_count})" : '' %></a>
            <% else %>
              <% if comment_likes_count > 0 %>
                <%= comment_likes_count %> <%= comment_likes_count == 1 ? 'like' : 'likes' %>
              <% end %>
            <% end %>

            <% if current_site %>
              <% if event.site_id == current_site.id || comment.actioning_site_id == current_site.id %>
                <a href="#" onclick="Comment.delete(<%= comment.id %>, '<%= csrf_token %>'); return false">Delete</a>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  </div>

<% end %>

<%== erb :'_news_templates', layout: false %>
