<div class="header-Outro">
  <div class="row content single-Col">
    <h1>Admin</h1>
  </div>
</div>

<div class="content misc-page single-Col txt-Center" style="padding-top: 20px;">

  <div class="row">
    <div class="col col-100">
      <a href="/admin/reports">Site Reports</a><br>
      <a href="/admin/usage">Site Bandwidth Usage</a>
    </div>
  </div>

  <%== flash_display %>

  <div class="row">
    <div class="col col-50">
      <h2>Ban Site</h2>
      <form action="/admin/ban" method="POST">
        <%== csrf_token_input_html %>
        <textarea name="usernames" cols="10" rows="5" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"></textarea>
        <div class="select-Container" style="display: block; width: 100px; float: none; margin: 0 auto;">
          <select name="classifier" class="input-Select">
            <option value=""></option>
            <option value="spam">Spam</option>
            <option value="phishing">Phishing</option>
          </select>
        </div>
        <p>Ban sites with same IP <input type="checkbox" name="ban_using_ips" value="1"></p>
        <p><input class="btn-Action" type="submit" value="Ban"></p>
      </form>
    </div>
    <div class="col col-50">
      <h2>Unban Site</h2>
      <form action="/admin/unban" method="POST">
        <%== csrf_token_input_html %>
        <p>
          <input type="text" name="username" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
        </p>
        <p><input class="btn-Action" type="submit" value="Unban"></p>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col col-50">
      <h2>Mark as NSFW</h2>
      <form action="/admin/mark_nsfw" method="POST">
        <%== csrf_token_input_html %>
        <p>
          <input type="text" name="username" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false">
        </p>
        <p><input class="btn-Action" type="submit" value="Mark NSFW"></p>
      </form>
    </div>
    <div class="col col-50">
      <h2>Site Info</h2>
      <form action="/admin/site" method="GET" onsubmit="this.action = '/admin/site/' + this.username_or_email.value; return true;">
        <p>
          <input type="text" name="username_or_email" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false" placeholder="username or email">
        </p>
        <p><input class="btn-Action" type="submit" value="Lookup"></p>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col col-50">
      <h2>Upgrade to Supporter</h2>
      <form id="upgradeToSupporter" action="/supporter/update" method="POST">
        <input type="hidden" name="plan_type" value="special">
        <%== csrf_token_input_html %>
        <p><input type="text" name="username" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"></p>
        <p><input class="btn-Action" type="submit" value="Upgrade to Supporter"></p>
      </form>
    </div>

    <div class="col col-50">
      <h2>Feature Site</h2>
      <form id="featureSite" action="/admin/feature" method="POST">
        <%== csrf_token_input_html %>
        <p><input type="text" name="username" autocapitalize="off" autocorrect="off" autocomplete="off" spellcheck="false"></p>
        <p><input class="btn-Action" type="submit" value="Feature Site"></p>
      </form>
    </div>
  </div>
</div>
