<div class="header-Outro">
  <div class="row content single-Col">
    <h1>Administration</h1>
    <h3 class="subtitle">Freedom Ain't Free</h3>
  </div>
</div>

<div class="content misc-page single-Col txt-Center" style="padding-top: 20px;">

  <% if flash.keys.length > 0 %>
    <div class="alert alert-error alert-block">
      <% flash.keys.each do |key| %>
        <%== flash[key] %>
      <% end %>
    </div>
  <% end %>

  <div class="row">
    <div class="col col-50">
      <h2>Ban Site</h2>
      <form action="/admin/banhammer" method="POST">
        <%== csrf_token_input_html %>
        <p>Site Name:</p>
        <p><input type="text" name="username" placeholder="edwardsnowden" autocapitalize="off" autocorrect="off"></p>
        <p><input class="btn btn-Action" type="submit" value="Ban"></p>
      </form>
    </div>
    <div class="col col-50">
      <h2>Mark as NSFW</h2>
      <form action="/admin/mark_nsfw" method="POST">
        <%== csrf_token_input_html %>
        <p>Site Name:</p>
        <p>
          <input type="text" name="username" placeholder="edwardsnowden" autocapitalize="off" autocorrect="off">
        </p>
        <p><input class="btn btn-Action" type="submit" value="Mark NSFW"></p>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col col-50">
      <h2>Ban by IP</h2>
      <form action="/admin/banip" method="POST">
        <%== csrf_token_input_html %>
        <p>All sites with this IP address will be removed.</p>
        <p>Site Name:</p>
        <p><input type="text" name="username" placeholder="edwardsnowden" autocapitalize="off" autocorrect="off"></p>
        <p><input class="btn btn-Action" type="submit" value="Ban"></p>
      </form>
    </div>

    <div class="col col-50">
      <h2>Upgrade to Supporter</h2>
      <form id="upgradeToSupporter" action="/plan/update" method="POST">
        <input type="hidden" name="plan_type" value="special">
        <%== csrf_token_input_html %>
        <p>This site will be upgraded to the supporter plan.</p>
        <p>Site Name:</p>
        <p><input type="text" name="username" placeholder="edwardsnowden" autocapitalize="off" autocorrect="off"></p>
        <p><input class="btn btn-Action" type="submit" value="Upgrade to Supporter"></p>
      </form>
    </div>
  </div>
</div>