<script src='https://www.google.com/recaptcha/api.js'></script>

<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Contact Us</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <% if !@errors.nil? && !@errors.empty? %>
    <div class="alert alert-block alert-error">
      <% @errors.each do |error| %>
        <p><%= error%></p>
      <% end %>
    </div>
  <% end %>

  <h2>Contact</h2>

  <p>
    Please note that we can only respond to english inquiries.
  </p>

  <p>
    Frequently asked questions:
  </p>

  <div class="accordion">
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#creload">
          Why is my web site not updating when I make changes?
        </a>
      </div>
      <div id="creload" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            This likely because your browser is temporarily caching the web page. Try doing a hard reload (Ctrl+Shift+R, or Command+Shift+R on Mac).
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#cads">
          Can I put ads on my site, or use it for commerical purposes?
        </a>
      </div>
      <div id="cads" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            Absolutely! Neocities is not opposed to you making money from your web site. We won't put ads on your site, but you are welcome to put ads on your own site if you want to, as long as that isn't the only use of your site (sites that only contain ads are considered spam and violate our ToS). You are also welcome to sell items, or put your business page on Neocities.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#cone">
          Do you allow PHP or other programming languages?
        </a>
      </div>
      <div id="cone" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            Neocities intentionally only provides static hosting (such as HTML, CSS, JS). As such, we cannot provide access to any "back-end" programming languages. We feel that creating sites that use these languages tend to become obsolete quickly (programming languages don't stay around for very long), and that sites are best created without them unless they are complicated web applications. Also, allowing programming languages on the backend would make it much harder for us to run Neocities, for both monetary and security reasons.
          </p>

          <p>
            Front-end programming with Javascript, however, is allowed and highly encouraged!
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#ctwo">
          I didn't enter an email for my site, can you reset the password?
        </a>
      </div>
      <div id="ctwo" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            For security reasons, we cannot reset your password if you did not enter an email for your site. You will have to make a new site (don’t worry, it’s free!). If you didn’t get an email from the password reset form, you didn’t enter an email (or it’s in your spam folder). Again you will have to make a new site; we cannot help you for security reasons.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#cthree">
          Do you support FTP?
        </a>
      </div>
      <div id="cthree" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            We don't support FTP, sorry! Aside from security problems with FTP, it isn't used by many people anymore. We need to stay focused on what we work on, so we only support ways to upload content that most people use these days.
          </p>

          <p>
            Our <a href="/api">API</a> allows you to very easily write a script to upload content if you need. We also have <a href="/site_files/mount_info">WebDAV</a> available for <a href="https://neocities.org/supporter">supporter</a> accounts, which allows you to mount your Neocities site as a disk on your computer.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#cfour">
          Do you provide site counters / webrings / guest books / dancing baby GIFs / etc?
        </a>
      </div>
      <div id="cfour" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            Neocities intentionally does not provide any embeddable code for use within Neocities sites, because we don't want sites to become dependent on Neocities services to work. We like the idea of making static sites that last a long time, and these sorts of services tend to fade away, causing your site to stop working.
          </p>

          <p>
            We do provide services for the sites on the main site (neocities.org), such as a site profile and tagging so you can form communities of sites with similar interests. We think that's a better way to do it than to push our way into your site. You can of course link to your Neocities Site Profile (https://neocities.org/site/yourusername) from your own site if you'd like.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#cfive">
          I want to take down someone's Neocities site.
        </a>
      </div>
      <div id="cfive" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            We will not remove a site unless it is violating our <a href="/terms">Terms of Service</a> or breaking the law. Chances are, it isn't. And the First Amendment of the United States Constitution defends our right to do this. If you'd like a more in-depth explanation of our policies, see our <a href="/legal">legal guide for Neocities</a>.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#csix">
          I want to sue you.
        </a>
      </div>
      <div id="csix" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            Cool.
          </p>
          <p>
            Please consult our <a href="/legal">legal guide for Neocities</a> for more information.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#cseven">
          I want to file a DMCA Takedown Notice with Neocities.
        </a>
      </div>
      <div id="cseven" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            See our <a href="/dmca">DMCA</a> page.
          </p>
        </div>
      </div>
    </div>

    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#ceight">
          "Site creation has been banned due to ToS violation/spam."
        </a>
      </div>
      <div id="ceight" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            If you are a new user, this message means that your IP address has been flagged by our IP database for posting spam. We share this list with other sites, so another site may have added your IP address. We recommend running an anti-virus program on your computer—it is possible that something on your machine is posting spam on other sites (or ours).
          </p>
        </div>
      </div>
    </div>


    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#cnine">
          Do you support .htaccess files?
        </a>
      </div>
      <div id="cnine" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            No. And we don't intend to.
          </p>

          <p>
            The .htaccess file is an Apache specific thing, and we don't use Apache for our backend. In addition, we generally don't add features to Neocities that make the functionality of sites depend on custom backend functionality (the sole exception being that we make sure "page not found" goes to "not_found.html" so you can create a custom 404.)
          </p>

          <p>
            Finally, we sometimes see people trying to use .htaccess for authentication (with usernames and passwords). Neocities is only for sites and information you want to make public, and it is dangerous to use it for private sites! We make backups of your site and attackers can easily find any information you're trying to hide using our archivers. Our goal is to make sure your sites stay up for a long time and persist, not to enforce secrecy zones on your site. If you want to make a controlled access site, Neocities is not for you.
          </p>
        </div>
      </div>
    </div>


    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" href="#cten">
          Can you delete my site for me?
        </a>
      </div>
      <div id="cten" class="accordion-body collapse">
        <div class="accordion-inner">
          <p>
            For security reasons, we can't. But you can delete your own site by logging in and going to the settings page!
          </p>

          <p>
            For safety reasons, if you have more than one site, you'll need to delete all sites before deleting the main account. Click on "Manage Site Settings" to delete each site individually.
          </p>
        </div>
      </div>
    </div>


  </div>

  <h2>Contact Form</h2>

  <form action="/contact" method="POST" class="content">
    <input name="csrf_token" type="hidden" value="<%= csrf_token %>">
    <fieldset>
      <label for="your_email">Email address</label>
      <input type="email" id="your_email" name="email" placeholder="me@example.com" class="col-50" value="<%= params[:email] %>">

      <label for="email_subject">Subject</label>
      <input type="text" id="email_subject" name="subject" placeholder="Subject" class="col-50" value="<%= params[:subject] %>">

      <label for="your_comments">Comments</label>
      <textarea name="body" id="your_comments" class="col-75" rows="10"><%= params[:body] %></textarea>

      <label>Fill out the captcha so we know you’re not a robot:</label>
      <div id="captcha-input" class="g-recaptcha"
           data-sitekey="<%= $config['recaptcha_public_key'] %>"
           data-theme="light" data-placement="left" data-trigger="manual">
      </div>

      <input class="btn-Action" type="submit" value="Send">
    </fieldset>
  </form>
</div>
