<div class="header-Outro with-columns browse-page browse-search-page">
  <div class="row content">
    <div class="col col-100">
      <h1>Site Search</h1>
    </div>

    <div class="col col-100 filter">
      <form id="search_criteria" class="browse-search-form" action="/browse/search" method="GET">
        <fieldset class="grouping">
          <input name="q" type="text" class="input-Area" value="<%= params[:q] %>"  placeholder="keywords">
          <button type="submit" class="btn-Action">Search</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<div class="content single-Col misc-page browse-search-page">
  <% if @daily_search_max_reached %>
    Search temporarily unavailable, please try again tomorrow.
  <% elsif @items == [] %>
    No results.
  <% elsif !@items.nil? %>
    <div class="search-results">
      <% @items.each do |item| %>
        <div class="result-item">
          <a class="result-screenshot" href="<%= item['link'] %>"><img src="<%= item['screenshot_url'] %>" alt="<%= item['title'] %>"></a>
          <div class="result-details">
            <h3 class="result-title">
              <a href="<%= item['link'] %>"><%= item['title'] %></a>
            </h3>

            <div class="result-url">
              <a href="<%= item['link'] %>"><%= item['unencoded_link'] %></a>
            </div>

            <p class="result-snippet">
              <%== item['htmlSnippet'] %>
            </p>
          </div>
        </div>
      <% end %>
    </div>

    <div class="txt-Center">
      <h2>
        <% if @start > 0 %>
          <a href="?q=<%= Rack::Utils.escape params[:q] %>&start=<%= [@start-10, 0].max %>"><i class="fa fa-arrow-left arrow">&nbsp;&nbsp;</i></a>
        <% end %>
        <% if @total_results > @start+10 && @start+10 < 100 %>
          <a href="?q=<%= Rack::Utils.escape params[:q] %>&start=<%= @start+10 %>"><i class="fa fa-arrow-right arrow"></i></a>
        <% end %>
      </h2>
    </div>
  <% else %>
    Enter some keywords to begin searching.
  <% end %>
</div>
