<div class="header-Outro">
  <div class="row content single-Col">
  <h1>Neocities Site Statistics</h1>
  </div>
</div>

<div class="content single-Col misc-page">
  <article>
    <h2>General Stats</h2>

    <table class="table">
      <tr>
        <td>Total Sites</td>
        <td><%= @stats[:total_sites] %></td>
      </tr>
      <tr>
        <td>Total Unbanned Sites</td>
        <td><%= @stats[:total_unbanned_sites] %></td>
      </tr>
      <tr>
        <td>Total Banned Sites</td>
        <td><%= @stats[:total_banned_sites] %></td>
      </tr>
      <tr>
        <td>Total NSFW Sites</td>
        <td><%= @stats[:total_nsfw_sites] %></td>
      </tr>
      <tr>
        <td>Total Unbanned NSFW Sites</td>
        <td><%= @stats[:total_unbanned_nsfw_sites] %></td>
      </tr>
      <tr>
        <td>Total Banned NSFW Sites</td>
        <td><%= @stats[:total_banned_nsfw_sites] %></td>
      </tr>
    </table>

    <h2>Monthly Statistics</h2>
    <table class="table">
      <tr>
        <th>Year</th>
        <th>Month</th>
        <th>Sites Created</th>
        <th>Change</th>
        <th>Total</th>
        <th>Supporters</th>
      </tr>
      <% @stats[:monthly_stats].each_with_index do |stat,i| %>
        <tr>
          <td><%= stat[:date].year %></td>
          <td>
            <%= stat[:date].strftime('%B') %>
            <% if Time.now.month == stat[:date].month && Time.now.year == stat[:date].year %>
              <small>current</small>
            <% end %></td>
          <td><%= stat[:sites_created] %></td>
          <td>
            <% if i != 0 && i != @stats[:monthly_stats].length-1 %>
              <%= (((stat[:sites_created].to_f - @stats[:monthly_stats][i-1][:sites_created]) / @stats[:monthly_stats][i-1][:sites_created]) * 100).round(2) %>%
            <% end %>
          </td>
          <td>
            <%= stat[:total_from_start] %></td>
          </td>
          <td><%= stat[:supporters] %></td>
        </tr>
      <% end %>
    </table>

    <h2>Supporters</h2>
    <h3>Current Recurring Monthly Revenue: <strong><%= format("$%.2f", @stats[:monthly_revenue]) %> (<%= format("$%.2f", @stats[:monthly_revenue]*12) %>/year)</strong>
    <br>
    Active Supporters: <strong><%= @stats[:subscriptions].select {|s| s[:status] == 'active' }.length %></strong>
    <br>
    Cancelled: <strong><%= @stats[:cancelled_subscriptions] %></strong>
    </h3>

    <h2>Burn Rate</h2>
    <p>
      Approximate server expenses (burn rate): <strong><%= format("$%.2f", @stats[:expenses]) %>/mo</strong>
    </p>

    <h1>Revenue Goals</h1>

    <p>Neocities pays for itself:</p>
    <p><strong><%= format '%.2f', @stats[:percent_until_profit] %>% of goal</strong> ($<%= format('%.2f', @stats[:monthly_revenue]) %> / $<%= format('%.2f', @stats[:expenses]) %>)</p>
    <div class="progress progress-striped">
      <div class="bar" style="width: <%= @stats[:percent_until_profit].round %>%;"></div>
    </div>

    <p>Neocities earnings rise above <a href="http://en.wikipedia.org/wiki/Poverty_threshold">US poverty threshold</a>:</p>
    <p><strong><%= format '%.2f', @stats[:poverty_threshold_percent] %>% of goal</strong> ($<%= format('%.2f', @stats[:monthly_revenue]) %> / ($<%= format('%.2f', @stats[:poverty_threshold]) %> / 12 months + $<%= @stats[:expenses] %>)) * 100</p>
    <div class="progress progress-striped">
      <div class="bar" style="width: <%= format('%.2f', @stats[:poverty_threshold_percent]) %>%;"></div>
    </div>

    <p>Neocities earns average US developer salary:</p>
    <p><strong><%= format '%.2f', @stats[:percent_until_developer_salary] %>% of goal</strong> ($<%= format('%.2f', @stats[:monthly_revenue]) %> / ($<%= format('%.2f', @stats[:average_developer_salary]) %> / 12 months + $<%= @stats[:expenses] %>)) * 100</p>
    <div class="progress progress-striped">
      <div class="bar" style="width: <%= format('%.2f', @stats[:percent_until_developer_salary]) %>%;"></div>
    </div>
  </article>
</div>