<div class="header-Outro">
  <div class="row content single-Col">
    <div class="col col-40">
      <h2 class="beta">End Plan</h2>
    </div>
    <div class="txt-Right">
      <img src="/img/support-us.png" width="55">
    </div>
  </div>
</div>

<div class="content single-Col misc-page">
  <h3>Ending the Supporter Plan</h3>
  <p>
    You currently have the <strong><%= current_site.plan_name %> (<%= current_site.maximum_space.to_space_pretty %>)</strong> - <%= @plan_name %>.
  </p>
  <p>
    If you need to end the plan, you can do that here. We'll be sorry to see you go. If there's a reason you're ending that we can help with, please <a href="/contact">contact us</a> and we'll see if we can help you with your issue. Regardless, we'll let you keep your site and the extra space. We hope you'll decide to become a supporter again in the future!
  </p>

  <% if @error %>
    <div class="alert alert-block alert-error">
      <p><%= @error %></p>
    </div>
  <% end %>

  <form method="POST" action="/plan/end">
    <input name="csrf_token" type="hidden" value="<%= csrf_token %>">
    <div class="recaptcha">
      <%== recaptcha_tag :challenge, ssl: request.ssl? %>
    </div>
      <input class="btn" type="submit" value="End plan">
  </form>
</div>