<div class="penelope">
  <img src="/img/welcomingcat.png" alt="Penelope the Neocities cat">
  <div class="penelope-Bubble">
    <p>Time for the superpower that puts the <em>web</em> in <em>website</em>: linking to other pages!</p>
  </div>
</div>

<p>A link uses the <code><%= '<a>' %></code> element (the <em>a</em> is for <em>anchor</em>). But a link needs to know <em>where to go</em>, so this element introduces something new &mdash; an <strong>attribute</strong>. Attributes are extra settings written inside the opening tag:</p>

<div class="tag-Anatomy" aria-label="The anatomy of a link">
  <span class="tag-Part"><code class="anatomy-Tag"><%= '<a' %></code><small>opening tag&hellip;</small></span>
  <span class="tag-Part"><code><span class="anatomy-Attr">href=</span><span class="anatomy-String"><%= '"https://neocities.org"' %></span></code><small>&hellip;with an attribute</small></span>
  <span class="tag-Part"><code class="anatomy-Tag"><%= '>' %></code><small>&nbsp;</small></span>
  <span class="tag-Part"><span class="tag-Content">Visit Neocities</span><small>the clickable text</small></span>
  <span class="tag-Part"><code class="anatomy-Tag"><%= '</a>' %></code><small>closing tag</small></span>
</div>

<p><code>href</code> holds the web address the link goes to. The address always goes between straight quotation marks, and it needs to start with <code>https://</code>.</p>

<div class="your-Turn">
  <h4><i class="fa fa-pencil" aria-hidden="true"></i> Your turn</h4>
  <ol>
    <li>Add a new paragraph at the bottom of your page (above <code><%= '</body>' %></code>) with a link to a site you like:
      <pre><code class="html"><%= '<p>My favorite place on the web is <a href="https://neocities.org">Neocities</a>.</p>' %></code></pre>
    </li>
    <li>Swap in your own favorite site's address and your own clickable words. Try clicking your link in the preview &mdash; it opens in a new tab!</li>
    <li>Click <strong>Check My Work</strong>.</li>
  </ol>
</div>

<div class="bonus-Box">
  <h4>Elements inside elements</h4>
  <p>Your <code><%= '<a>' %></code> element lives <em>inside</em> a <code><%= '<p>' %></code> element. That's called <strong>nesting</strong>, and it's everywhere in HTML. The rule: whatever opens last closes first, like stacking bowls &mdash; <code><%= '<p> <a> </a> </p>' %></code>, never <code><%= '<p> <a> </p> </a>' %></code>.</p>
</div>

<script>
  function lessonCheck(doc, html) {
    var links = doc.querySelectorAll('body a')

    if(links.length == 0) {
      if(missingClosingTag(html, 'a'))
        return {ok: false, message: 'I can see you started a link, but something&rsquo;s off &mdash; make sure it ends with a closing ' + codeSample('</a>') + ' tag.'}
      return {ok: false, message: 'I don&rsquo;t see a link yet. Add one like ' + codeSample('<a href="https://neocities.org">Visit Neocities</a>') + ' inside a paragraph.'}
    }

    if(missingClosingTag(html, 'a'))
      return {ok: false, message: 'One of your links is missing its closing ' + codeSample('</a>') + ' tag.'}

    var problem = null

    for(var i = 0; i < links.length; i++) {
      var link = links[i]
      var href = link.getAttribute('href')

      if(href === null) {
        problem = problem || ('Your link doesn&rsquo;t know where to go yet! Add an href attribute inside the opening tag: ' + codeSample('<a href="https://neocities.org">'))
        continue
      }

      href = href.trim()

      if(href == '') {
        problem = problem || 'The href is empty &mdash; put a web address between the quotes.'
        continue
      }

      if(/^www\./i.test(href)) {
        problem = problem || ('So close! Web addresses in links need to start with ' + codeSample('https://') + ' &mdash; try ' + codeSample('href="https://' + href + '"'))
        continue
      }

      if(!/^https?:\/\//i.test(href) && !/^[\/#]/.test(href)) {
        problem = problem || ('Hmm, ' + codeSample(href) + ' doesn&rsquo;t look like a web address. It should start with ' + codeSample('https://') + ', like ' + codeSample('https://neocities.org'))
        continue
      }

      if(link.textContent.trim() == '') {
        problem = problem || ('Your link works, but there&rsquo;s nothing to click on! Put some words between ' + codeSample('<a href="...">') + ' and ' + codeSample('</a>') + '.')
        continue
      }

      return {ok: true, message: 'Your page is part of the web now!'}
    }

    return {ok: false, message: problem}
  }
</script>
